* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  /*tự do chuyển động*/
}
.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 37.4375em) {
  .header-top {
      flex-direction: column;
      align-items: center;
  }
}

@media only screen and (min-width: 37.5em) {
  .col-s-3 {
      width: 25%;
  }

  .col-s-6 {
      width: 50%;
  }

  .header-top {
      flex-direction: column;
      align-items: center;
  } 
}

@media only screen and (min-width: 48em) {
  .col-3 {
      width: 25%;
  }
  
  .col-6 {
      width: 50%;
  }

  .header-top {
      flex-direction: row;
  }
}


.pd-rl-8 {
  padding: 0 8px;
}


.header .header-top {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.header-top .header-phone {
  text-transform: uppercase;
  text-align: right;
  font-size: 20px;
  margin-top: 28px;
  font-weight: 600;
}

.header-phone a {
  color: #000;
  text-decoration: none;
}

.nav-bar {
  background: linear-gradient(to bottom, #565454, #fff);
}

.nav-bar .nav-bar-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0 10px;
}

ul > li {
  list-style: none;
  padding: 10px;
}

ul > li:hover {
  opacity: 0.6;
  border-bottom: 2px solid #383838;
}

ul > li a {
  color: #000;
  text-decoration: none;
}

.main {
  width: 100%;
background-color: #565454;
overflow: auto;
}

.hotnews {
  width: 100%;
}

.hotnews .textnews,
.hotnews .imgnews {
  width: 50%;
}

.imgnews {
  float: left;
  padding: 0 10px;
}

.imgnews img {
  width: 100%;
}

.textnews {
  float: left;
  padding: 0 10px;
}

.title {
  line-height: 30px;
  background-image: linear-gradient(to bottom, #FCD917, #FBEA9D);
}

.content{
color: white;
background-image: linear-gradient(to bottom right, #989797, #383838)
}

.news{
clear: both;
}

.item{
float: left;
box-sizing: border-box;
padding: 5px 5px;
}
.item img{
width: 100%;
}
.frmcomment{
margin-top: 10px;
color: white;
}
